<nav class="navbar fixed-bottom bg-body-tertiary">
    <div class="container-fluid text-center">
        <a class="navbar-brand" href="{% url 'index' %}">Home</a>
        
            
                <table>
                    <tr>
                       <th>
                        Description
                       </th>
                    
                        <th>
                         Website
                        </th>
                     </tr>
                     <tr>
                        <td>
                         allauth Demostration
                        </td>
                         <td>
                          <a href="https://allauth.ddns.net">
                            https://allauth.ddns.net
                          </a>  
                         </td>
                      </tr>
                      <tr>
                        <td>
                         Select your football picks for this week.
                        </td>
                         <td>
                          <a href="https://cromarties.ddns.net">
                            https://cromarties.ddns.net
                          </a>  
                         </td>
                      </tr>
                      <tr>
                        <td>
                         Blog
                        </td>
                         <td>
                          <a href="https://hrc345.ddns.net">
                            https://hrc345.ddns.net
                          </a>  
                         </td>
                      </tr>
                      <tr>
                        <td>
                         Get a quote.
                        </td>
                         <td>
                          <a href="https://mfdw.ddns.net">
                            https://mfdw.ddns.net
                          </a>  
                         </td>
                      </tr>
                      <tr>
                        <td>
                         Polls Selection  
                        </td>
                         <td>
                          <a href="https://cromartie.ddns.net">
                            https://cromartie.ddns.net
                          </a>  
                         </td>
                      </tr>
                      <tr>
                        <td>
                         Todo   
                        </td>
                         <td>
                          <a href="https://haynes.ddns.net">
                            https://cromarties.ddns.net
                          </a>  
                         </td>
                      </tr>
                      <tr>
                        <td>
                          Select bed cushions  
                        </td>
                         <td>
                          <a href="https://cushion.ddns.net">
                            https://cushion.ddns.net
                          </a>  
                         </td>
                      </tr>
                      <tr>
                        <td>
                          Print envelopes  
                        </td>
                         <td>
                          <a href="https://gordonlabs.ddns.net">
                            https://gordonlabs.ddns.net
                          </a>  
                         </td>
                      </tr>
                      <tr>
                        <td>
                          Bootstrap form Demostration  
                        </td>
                         <td>
                          <a href="https://haynes-site.ddns.net">
                            https://haynes-site.ddns.net
                          </a>  
                         </td>
                      </tr>
                      <tr>
                        <td>
                          Learning Log  
                        </td>
                         <td>
                          <a href="https://hrc245.ddns.net">
                            https://hrc245.ddns.net
                          </a>  
                         </td>
                      </tr>


                </table>
                
    </div>

</nav>